:root {
  --bg-footer: hsl(243, 87%, 12%);
  --clr-text-secondary: hsl(0, 0%, 100%);
  --DesaturatedBlue: hsl(238, 22%, 44%);
  --bg-button: hsl(224, 93%, 55%);
  --ModerateCyan: hsl(170, 45%, 43%);
  --LightGrayishBlue: hsl(240, 75%, 98%);
  --LightGray: hsl(0, 0%, 75%);

  --font1: "Open Sans", sans-serif;
}
